-@news.each do |news|
  %h1= news.title
  %p<>
    Dodał
    =link_to news.player.name, playershow_path(news.player)
    |
    Dodane
    =time_ago_in_words(news.created_at)
    temu
  %p= news.intro
  %p.breadcrumb
    =link_to 'Przeczytaj całość', show_path(news.cached_slug)
    |
    =link_to "Przeczytaj komentarze (#{news.comments.size})", show_path(news.cached_slug)+'#comments'
  %br
  =#(#{news.comment.size})
%div.left= paginate @news